@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --span: rgb(0, 200, 200);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #20201f;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: linear-gradient(var(--background), oklch(0.21 0.034 264.665));
    font-family: Arial, Helvetica, sans-serif;
}
input {
    color: #4a5568;
}
